<div class="search-box">
  <input [(ngModel)]="query" placeholder="Search for books..." />
  <button (click)="searchBooks()">Go</button>
</div>

<div *ngIf="loading">Loading...</div>

<div class="book-grid">
  <div class="book-card" *ngFor="let book of books" (click)="openBook(book)">
    <img [src]="book.volumeInfo.imageLinks?.thumbnail" alt="Book cover" />
    <h3>{{ book.volumeInfo.title }}</h3>
    <p *ngIf="book.volumeInfo.authors">by {{ book.volumeInfo.authors.join(', ') }}</p>
  </div>
</div>
